<aside class="main">
  <div class="profile-block">
    <div class="photo">
      <div class="banner-photo"></div>
    </div>
    <div class="profile">
      <div class="row">
        <div class="col-xs-4">
          <div class="profile-photo">
            <img src="https://randomuser.me/api/portraits/men/84.jpg" alt="">
          </div>
        </div>
        <div class="col-xs-8">
          <span class="name">John Doe</span>
          <span class="handle">@johndoe</span>
        </div>
      </div>
      <div class="row assets">
        <div class="col-xs-6">
          <span class="assets-title">Following</span>
          <span class="assets-count">10</span>
        </div>
        <div class="col-xs-6">
          <span class="assets-title no-left-pad">Followers</span>
          <span class="assets-count no-left-pad">103K</span>
        </div>
      </div>
    </div>
  </div>
  <div class="followers">
    <h3>Followers</h3>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li><a href="#"><img src="https://randomuser.me/api/portraits/women/25.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/women/26.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/men/25.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/men/89.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/men/39.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/men/59.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/women/39.jpg" alt=""></a></li>
          <li><a href="#"><img src="https://randomuser.me/api/portraits/women/79.jpg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>
